fastapi[standard]==0.115.11
uvicorn[standard]==0.34.0
sqlmodel==0.0.24
SQLAlchemy==2.0.39  # optional, if you use advanced SQLAlchemy features
python-dotenv==1.0.1
passlib[bcrypt]==1.7.4
bcrypt==4.3.0
email_validator==2.2.0
httpx==0.28.1
pytest==8.3.5
alembic==1.16.5
psycopg2-binary==2.9.10